@font-face {
    font-family: 'Gugi';
    src: url(../fonts/Gugi/Gugi-Regular.ttf);
}
@font-face {
    font-family: 'Fredericka the Great';
    src: url(../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}
@font-face {
    font-family: 'Lexen deca light';
    src: url(../fonts/Lexend_Deca/static/LexendDeca-Light.ttf);
}
body{
    background-color: rgb(238, 238, 238);
}
.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 50px;
    background-color: rgb(66, 157, 80);
    border-bottom:  0.25em solid  rgb(61, 142, 75);
    margin: 0 0 15px;
    display: inline-flex;
    position: fixed;
}
.logo a{
    font-family: 'Gugi', sans-serif;
    margin-left:  20px;
    font-size: 1.5rem;
    position: relative;
    top: 9px;
    text-shadow: #000 0.5px 0.5px 0px;;
    color: #ffffff;
    text-decoration: none;
}
.logo a:hover{
    color:  rgb(37, 85, 45);
}
nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 7px;
}
nav a:hover{
    color: rgb(37, 85, 45);
}
.wrapper {
    margin: 0 auto;
    top: 60px;
    position: relative;
    padding: 0 10px;
    width: 80%;
    min-width: 1000px;
}
.column{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}
.user_details {
    width: 280px;
    float: left;
    margin-bottom: 20px;
}
.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}
.user_details img{
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}
.post_form {
    width: 100%;
}
.post_form textarea {
    width: 83%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    padding: 5px;
}
textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 10%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(66, 157, 80);
    color: #fff;
    text-shadow: #60a06a 0.5px 0.5px 0px;
    position: absolute;
    outline: 0;
    margin: 0;
}
.post_form input[type="submit"]:activ {
    padding: 5px 4px 4px 5px;
}